<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-md-4">

        <div class="box box-warning direct-chat direct-chat-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Chat Messages</h3>

            <div class="box-tools pull-right">
              

              
            </div>
          </div>

        

          

              <app-mymsg></app-mymsg>
              <!-- <app-botmsg></app-botmsg> -->
          

          <app-msgfooter></app-msgfooter>

        </div>

      </div>
    </div>

  </div>

</div>