<div class="box-body">
    <div class="direct-chat-messages">
        <ng-container  *ngFor="let item of this.message.message;let i = index ">


              <ng-container *ngIf="i % 2 === 0 ">

                    <div class="direct-chat-msg right">

                        <div class="direct-chat-info clearfix">
                           <span class="direct-chat-name pull-right">Khalid</span>
                        </div>

                          <img class="direct-chat-img" src="https://img.icons8.com/color/36/000000/administrator-male.png"
                            alt="message user image">
                         <div class="direct-chat-text">
                             {{this.message.message[i]}}
                         </div>

                    </div>
                
            </ng-container>
            
            
            
            <ng-container *ngIf="i%2!=0">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">@BOT</span>
                </div>

                <img class="direct-chat-img" src="https://img.icons8.com/office/36/000000/person-female.png"
                
                    alt="message user image">

                    <div class="direct-chat-text">
                        {{this.message.message[i]}}
                    </div>
            </ng-container>   
        </ng-container>
    </div>

    </div>
    
    
    
    




